[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
django-rest-swagger = "*"
django-cors-headers = "*"
drf-yasg = "*"
django-environ = "*"
pillow = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"

[packages.drf-spectacular]
extras = [ "sidecar",]
